[submodule "public/ui-bootstrap"]
	path = public/ui-bootstrap
	url = git@github.com:jessefulton/ui-bootstrap.git
[submodule "public/three.js"]
	path = public/three.js
	url = https://github.com/mrdoob/three.js.git
