.row
	.span4
		h1 What is this?
		p 
			strong Everybody's Google
			|  is part of 
			a(href="http://danm.ucsc.edu/~jesse") Jesse Fulton
			| 's MFA thesis at the 
			a(href="http://danm.ucsc.edu/") Digital Arts + New Media program at UC Santa Cruz
			| .
		p
			strong Everybody's Google
			|  is a web application that...
	.span4
		h1 Tell me more
		p
			| Blah blah blah...

	.span4
		h1 I still don't get it
		p
			| informayshunz
			
.container
	.row.alert(style="background-color:#222;color:#eee")
		.span4.offset4
			i.icon-question-sign.icon-white 
			| interested in the tech? check out 
			a(href="https://github.com/jessefulton/google-views") the code
