.row
	.container
		.span12
			#webgl(style="min-height:400px;")

script(src="/three.js/build/Three.js")
script(src="/three.js/examples/js/ShaderExtras.js")
script(src="/three.js/examples/js/postprocessing/EffectComposer.js")
script(src="/three.js/examples/js/postprocessing/MaskPass.js")
script(src="/three.js/examples/js/postprocessing/RenderPass.js")
script(src="/three.js/examples/js/postprocessing/ShaderPass.js")
script(src="/three.js/examples/js/postprocessing/BloomPass.js")

script(src="/three.js/examples/js/Detector.js")
script(src="/three.js/examples/js/Stats.js")

script(src="/viz.js")
