.logo
	img(src='/images/logo-large-centered.jpg', width='495x', height='204px', alt="Everybody's Google")

.description
	form(action="/", method="post")
		input(type="hidden", name="mobile", id="mobile", value="false")
		div: input#searchBox(type="text", name="q")
		- if (typeof(error) != 'undefined' && error)
			.alert.alert-error #{error}
		p
			input.button(type="submit", value="See What Others See")
			//a.button(href='/visualize') Visualize
		

				
				
.queue
	h3 Currently being searched for:
	ul
	- each item in queue
		- var classname = item.processState
		li(class=classname): span #{item.query}
				
script
	if( navigator.userAgent.match(/Android/i)
		|| navigator.userAgent.match(/webOS/i)
		|| navigator.userAgent.match(/iPhone/i)
		|| navigator.userAgent.match(/iPad/i)
		|| navigator.userAgent.match(/iPod/i)
		|| navigator.userAgent.match(/BlackBerry/i)
		){
			document.getElementById("mobile").value = "true";
	}