.row
	.container
		.span12
			#container(style="min-height:600px;width:100%;")





script(src="/javascript/three/build/Three.js")

script(src="/javascript/three/js/ShaderExtras.js")

script(src="/javascript/three/js/postprocessing/EffectComposer.js")
script(src="/javascript/three/js/postprocessing/RenderPass.js")
script(src="/javascript/three/js/postprocessing/BloomPass.js")
script(src="/javascript/three/js/postprocessing/FilmPass.js")
script(src="/javascript/three/js/postprocessing/DotScreenPass.js")
script(src="/javascript/three/js/postprocessing/TexturePass.js")
script(src="/javascript/three/js/postprocessing/ShaderPass.js")
script(src="/javascript/three/js/postprocessing/MaskPass.js")

script(src="/javascript/three/js/Detector.js")
script(src="/javascript/three/js/Stats.js")

//-
	script(src="/three.js/build/Three.js")
	script(src="/three.js/examples/js/ShaderExtras.js")
	script(src="/three.js/examples/js/postprocessing/EffectComposer.js")
	script(src="/three.js/examples/js/postprocessing/MaskPass.js")
	script(src="/three.js/examples/js/postprocessing/RenderPass.js")
	script(src="/three.js/examples/js/postprocessing/ShaderPass.js")
	script(src="/three.js/examples/js/postprocessing/BloomPass.js")
	
	script(src="/three.js/examples/js/Detector.js")
	script(src="/three.js/examples/js/Stats.js")

script(src="/viz.js")
