!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="description", content="")
		meta(name="author", content="")
		title Everybody's Google
		// link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap.css')
		// link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap-responsive.css')
		// link(rel='stylesheet', href='/stylesheets/overrides.css')
		style(type="text/css")
			body { font-family: Arial, Verdana, sans-serif; font-size: 13px; }
			#tabs {
				height: 30px;
				width: 100%;
				z-index: 99999;
				top: 0;
				left: 0;
				background-color: #000;
				color: #ffffa9;
				position: absolute;
				font-size: 13px;
				font-family: Arial, sans-serif;
				font-weight: bold;
			}
			#tabs ul,
			#tabs ul li {
				height: 27px;
				float: left;
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
			#tabs ul li a {
				color: #fcfffd;
				padding: 1px 2px 2px;
				margin-right: 16px;
				display: block;
				height: 27px;
				line-height: 27px;
				float: left;
				text-decoration: none;
				cursor: pointer;
			}
			#tabs ul li a:hover,
			#tabs ul li.active a {
				background-color: #888;
			}
			#tabs ul li.active a {
				background-color: #444;
			}
			#tabs ul li.active a:hover {
				background-color: #888;
			}
			#wrapper {
				margin-top: 64px;
			}
			body #content {
				width: 800px;
				margin: 0 auto;
				text-align: center;
			}
			body #content #searchbox {
				display: block;
				left: 0;
				border: 1px solid #ccc;
				padding: 0 0 0 2px;
				margin: 0 auto;
				width: 486px;
				height: 29px;
				text-align: center;
			}
			.search {
				width: 25%;
				float: left;
			}

			#searchBox {
				width:552px;height:27px;line-height:27px;font-size:13px;border:1px solid #C0C0C0;
			}

			.button {
				font-family: 'Lucida Grande';
				font-size: 11px;
				font-style: normal;
				font-variant: normal;
				font-weight: bold;
				border-bottom-color: rgba(0, 0, 0, 0.0976563);border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;border-bottom-style: solid;border-bottom-width: 1px;background-attachment: scroll;background-clip: border-box;background-color: whiteSmoke;background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);background-origin: padding-box;border-left-color: rgba(0, 0, 0, 0.0976563);border-left-style: solid;border-left-width: 1px;border-right-color: rgba(0, 0, 0, 0.0976563);border-right-style: solid;border-right-width: 1px;border-top-color: rgba(0, 0, 0, 0.0976563);border-top-left-radius: 2px;border-top-right-radius: 2px;border-top-style: solid;border-top-width: 1px;
				color: #444;
				display:inline-block;
				height: 29px;
				line-height: 29px;
				padding:0 8px;
			}
			a.button { text-decoration: none; }
			.alert-error {
				padding: 8px 35px 8px 14px;
				margin-bottom: 18px;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
				background-color: #FCF8E3;
				border: 1px solid #FBEED5;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				color: #C09853;
				background-color: #f2dede;
				border-color: #eed3d7;
				color: #b94a48;
				width:480px;
				text-align:center;
				margin: 4px auto;
			}
			
			.queue {
				color: #666;
				height: 200px;
				width: 800px;
				position: absolute;
				bottom:0;
				left: 50%;
				margin-left: -400px;
				overflow:hidden;
			}
			.queue h3 {
				color: acacac;
				border-top: 2px solid #CCC;
				padding-top:16px;
				margin-top: 32px;
			}
			.queue ul, .queue li {
				display: inline-block;
				list-style-type: none;
			}
			.queue li {
				padding: 8px;
				border: 1px solid #FBEED5;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				background-color: #FCF8E3;
				border: 1px solid #FBEED5;
				color: #C09853;
				margin: 4px;
			}
			.warn { color: #CC0000; }
			.meta { border-top: 2px solid #CCC; padding: 8px 0; margin: 8px 0; }
			@media (max-width: 480px) {
				body #content { width: 100%; max-width: 480px; }
				.logo img { width: 250px; height: 103px; }
				#searchBox { width:80%; }
				.queue { position: relative; bottom: auto; left:auto; width: 100%; height:auto; margin:0; padding:0; }
			}
	- if (typeof(bodyClasses) == 'undefined')
		- bodyClasses = ""
	body(class=bodyClasses)
		#tabs
			ul.navigation
				li: a(href="/") home
				//- personas
				//- project
				li: a(href="/about") about
				li: a(href="/visualize") visualize
		#wrapper
			#header
				//h1 #{siteName}
			#content.container
				block content


			
			#footer