.row
	.span8
		form.form-inline(method="get")
			input(type="text", name="add")
			input.btn.btn-inverse(type="submit") Add
	.span4
		h3 Queue
		- if (typeof(error) != 'undefined' && error)
			.alert.alert-error #{error}
		- each item in queue
			- var classname = item.processed ? "processed" : "processing"
			p(class=classname) #{item.term}