.row
	.container
		.span12
			#webgl(style="min-height:400px;")


script(src="http://jeromeetienne.github.com/tquery/build/tquery-all.js")

script(src="/socket.io/socket.io.js")
script

	var world = tQuery.createWorld().appendTo(document.getElementById("webgl")).start();

	world.loop().hook(function(delta){
		for (var i=0; i< lines.length; i++) {
			var line = lines[i];
			line.translateZ(delta * -1);
			//console.log(line.position);
		}
	});
	
	
	var lines = [];
	
	//var object = tQuery.createTorus().addTo(world);
	//var txt = tQuery.createText("tQuery is Fun!").scaleBy(1/4).addTo(world);
	//world.setCameraControls(new THREEx.DragPanControls(world.camera));

	var socket = io.connect(window.location.protocol + "//" + window.location.hostname);
	socket.on('datastream', function (newLine, dataStream) {
		if (newLine) {
			lines.push(tQuery.createText(newLine).scaleBy(1/4).addTo(world));
			if (lines.length > 10) {
				var removed = lines.shift();
				removed.removeFrom(world);
			}		
		}
		else {
			for (var i=0; i< dataStream.length; i++) {
				var l = tQuery.createText(dataStream[i]).scaleBy(1/4).addTo(world);
				l.translateZ(-1 * i);
				lines.push(l);
			}
			if (lines.length > 10) {
				var removed = lines.shift();
				removed.removeFrom(world);
			}		
		}
		

	});